.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  text-align: center;
}

.title {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  color: #333;
  margin: 0;
  margin-bottom: 40px;
}

.enterBtn {
  width: 180px;
  height: 48px;
  border-radius: 30px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
